body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.mainHeader {
  background-color: rgb(194,74,75);
  background-size: cover;
  background-position: center;
  height: 20rem;
  text-align: center;
}

.projects {
  background-color: rgb(194,74,75);
}

#navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100vw;
}

#headerText {
  padding-top: 5rem;
}

@media (min-width: 690px) {
  #headerText {
    padding-top: 12rem;
  }
}
